<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Footer -->
            <footer class="page-footer font-small stylish-color-dark pt-4">

                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">
                        <hr class="clearfix w-100 d-md-none">

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Links -->

                <hr>

                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1">Home Page</h5>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!" class="btn btn-danger btn-rounded">Click Here!</a>
                    </li>
                </ul>
                <!-- Call to action -->

                <hr>

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© Six Captains78

                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>
    </div>
</div>